body{
    background-image: url("meghalaya-theme.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
    height: 800px;
}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1,h4{
 text-align: center;
}
.Meghalaya img
{
    margin-left:  30px;
    margin-right: 30px;
    margin-bottom: 30px;
   
}
.Meghalaya{
    display: flex;
}
b{
    font-size: 30px;
}

